<!-- <footer class="bg-dark text-light  py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Church Management</h5>
                <p>
                    St. Theresa Parish, Asawase<br>
                    Address: 123 Church Street, Asawase<br>
                    Phone: +1 (123) 456-7890<br>
                    Email: info@sttheresaparish.com
                </p>
            </div>
            <div class="col-md-4">
                <h5>Database and Records</h5>
                <p>
                    Our church maintains a comprehensive database and records of our members and various activities. For
                    any inquiries or updates, please contact our church office.
                </p>
            </div>
            <div class="col-md-4">
                <h5>Financial Records</h5>
                <p>
                    Asawase St. Theresa Parish is committed to transparency and accountability. We maintain detailed
                    financial records that are available upon request. For financial inquiries, please contact our
                    finance department.
                </p>
            </div>
        </div>
        <hr>
        <p class="mb-0">© 2023 Asawase St. Theresa Parish. All rights reserved.</p>
    </div>
</footer> -->
<!-- <footer class="bg-dark text-light  py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Address</h5>
                <p>
                    St. Theresa Parish, Asawase<br>
                    123 Church Street, Asawase<br>
                    Ghana
                </p>
            </div>
            <div class="col-md-4">
                <h5>About Our System</h5>
                <p>
                    At St. Theresa Parish, we have implemented a robust database system to manage our church operations,
                    maintain records, and provide insightful analytics. Our system enables us to keep track of member
                    information, document various activities, and ensure efficient financial record-keeping.
                </p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Mass Schedule</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Sermons</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h5>Financial Records</h5>
                <p>
                    Asawase St. Theresa Parish is committed to transparency and accountability. We maintain detailed
                    financial records that are available upon request. For any financial inquiries or to request access
                    to our financial records, please contact our finance department.
                </p>
            </div>
        </div>
        <hr>
        <p class="mb-0">© 2023 Asawase St. Theresa Parish. All rights reserved.</p>
    </div>
</footer> -->

<footer class="bg-dark text-light text-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>About the System</h3>
                A comprehensive solution that efficiently stores and manages church member data, offers powerful
                visual analytics, and
                securely maintains records, including documents and financial information.
            </div>
        </div>
        <hr>
        <p class="mb-0">© 2023 Asawase St. Theresa Parish. All rights reserved.</p>
    </div>
</footer>